# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# Spring Tools / Eclipse
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store

# Logs
*.log

# Environment variables / secrets
.env
.env.*
!.env.example

# Java
*.class

# Temporary files
*.tmp
*.swp